<head>
	<title>Auburn Mentoring - Profile</title>
	<link rel='stylesheet' href='css/profile.css' type='text/css'>
	<link type="text/javascript" src="server.js">
</head>
<body>
	<div class="container">
			<div class="profileBox">
				<div class="avatar" >
					<img src="/uploads/{{profilePic}}" alt="Circle Image" class="img-raised rounded-circle" style="object-fit: cover; display: block; margin-right: auto;margin-left: auto;  height: 350px; width: 350px;">
				</div>

				<!-- Username -->
				<div class="userInfo">
					
					<b>Username: </b> {{ username}}
				
				</div>

				<!-- First Name -->
				<div class="userInfo">
					
					<b>First Name: </b> {{ firstname }} <!-- {{ variable}} is the variable pulled from the server -->
				
				</div>

				<!-- Last Name -->
				<div class="userInfo">
					
					<b>Last Name: </b> {{ lastname }}
				
				</div>

				<!-- email -->
				<div class="userInfo">
					
					<b>E-mail: </b> {{ email }}
				</div>

				<!-- DOB -->
				<div class="userInfo">
				
					<b>Classification: </b> {{ class }}
				
				</div>

				<button class="btn" type="button" onclick="window.location.href='profileUpdate'">Edit Info</button>
			</div>

		</div>
		<div class="row" >
			<br>
		</div>

	
</body>