 <div class="container" style="padding:none;"> 
<br>
    <div class="jumbotron" style="background-image:url('images/colorlightsjumbo.jpg'); background-size: cover;">
    <h2> {{progName}}</h2>
    </div>
    
      <div class="row">
        <div class="col-md-8 mb-5">
          <h1>
            About {{progName}}
          </h1>
          <hr>
          <p>{{shortDesc}}</p>      
        </div>
        <div class="col-md-4 mb-5">
          <h2>Contact Us</h2>
          <p>{{website}}</p>

            <br>
            <h6 ></abbr>Email:</h6>
            <p>{{email}}</p>

        </div>
      </div>

      <div class="row">
        <div class="col-md-8 mb-5">      
          <h2>
            Additional Information
          </h2>
          <hr>
          <p>
            {{description}}
          </p>
        </div>
        <div class="col-md-4 mb-5">
          <h2>Interested in joining?</h2>
          <a href="/join?programID={{programID}}" class="btn btn-primary" style="border-style:none;">Join</a> 
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 mb-5">
          <h4>
            Documents
          </h4>
          <hr>
          <p>documents go here</p>
        </div>
      </div>

  </div> <!--container -->